# ***ทำนายราคา Bitcoin โดยใช้ Machine Learning and Python***

In [ ]:
#Install numpy and pandas 

import numpy as np
import pandas as pd

In [ ]:
#เลือกไฟล์ DataSet สามารถดาวโหลดจาก Blockchain.com ได้
from google.colab import files
uploaded = files.upload()

Saving market-price.csv to market-price (3).csv

In [ ]:
#เก็บข้อมูลลงชุดตัวแปล
df = pd.read_csv('market-price (3).csv')
df.head(7)

       Timestamp  market-price
0  08/20/10 0:00          0.07
1  08/23/10 0:00          0.07
2  08/26/10 0:00          0.07
3  08/29/10 0:00          0.06
4  09/01/10 0:00          0.06
5  09/04/10 0:00          0.06
6  09/07/10 0:00          0.06

In [ ]:
#ลบคอลัมน์วันที่ออกจากกรอบข้อมูล
df.drop(['Timestamp'], 1, inplace=True)

In [ ]:
#แสดง 7 แถวแรกของชุดข้อมูลใหม่
df.head(7)

   market-price  Prediction
0          0.07        0.28
1          0.07        0.29
2          0.07        0.29
3          0.06        0.29
4          0.06        0.28
5          0.06        0.25
6          0.06        0.23

In [ ]:
#สร้างตัวแปรสําหรับการทํานาย 'n' วันออกในอนาคต ('n' เป็นจํานวนเต็มโดยพลการ) และคอลัมน์ที่เรียกว่า 'คาดการณ์' ที่จะมีราคาของ Bitcoin 30 วันจากราคาปัจจุบัน (ราคาของ BTC ในคอลัมน์ราคา)
prediction_days = 30 #n = 30 days
df['Prediction'] = df[['market-price']].shift(-prediction_days)

In [ ]:
#แสดง 7 แถวแรกของชุดข้อมูลใหม่
df.head(7)

   market-price  Prediction
0          0.07        0.28
1          0.07        0.29
2          0.07        0.29
3          0.06        0.29
4          0.06        0.28
5          0.06        0.25
6          0.06        0.23

In [ ]:
#สร้างชุดข้อมูลอิสระ นี่คือชุดที่มีคุณลักษณะในการทําการคาดการณ์ในอนาคตด้วย ก่อนอื่นเราจะแปลง dataframe 
#ไปเป็นอาร์เรย์ตัวเลขและวางคอลัมน์คาดการณ์แล้วเราจะลบแถว 'n' สุดท้ายที่จากชุดข้อมูล ในบทความนี้หมายความว่าเราจะลบ 30 วันล่าสุดตั้งแต่ 'n' = prediction_days ซึ่งเท่ากับ 30
X = np.array(df.drop(['Prediction'],1))
X= X[:len(df)-prediction_days]
print(X)

[[7.00000e-02]
 [7.00000e-02]
 [7.00000e-02]
 ...
 [9.38570e+03]
 [9.78574e+03]
 [9.16726e+03]]

In [ ]:
#สร้างชุดข้อมูลที่ขึ้นอยู่กับนี้จะเป็นชุดข้อมูลที่มีเป้าหมายของเรานั่นคือข้อมูลที่เรากําลังจะทํานาย เราจะบรรลุผลสําเร็จนี้โดยการแปลง dataframe 
#เป็นอาร์เรย์ตัวเลขและได้รับทั้งหมดของค่าจากคอลัมน์การทํานายของ dataframeจากนั้นเราจะได้ค่าทั้งหมดจากชุดข้อมูลที่สร้างขึ้นยกเว้นแถว 'n' ล่าสุด
y = np.array(df['Prediction'])
y = y[:-prediction_days] 
print(y)

[2.800000e-01 2.900000e-01 2.900000e-01 ... 1.177438e+04 1.229372e+04
 1.186582e+04]

In [ ]:
#แยกข้อมูลออกเป็น 80% การฝึกอบรมและ 20% ทดสอบชุดข้อมูล
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
 #สร้างตัวแปรที่เรียกว่าprediction_days_arrayและตั้งค่าเท่ากับแถว 30 สุดท้ายของชุดข้อมูลเดิมจากคอลัมน์ราคา
prediction_days_array = np.array(df.drop(['Prediction'],1))[-prediction_days:]
print(prediction_days_array)

[[ 8899.66]
 [ 9569.21]
 [ 9450.84]
 [ 9658.04]
 [ 9670.43]
 [ 9775.15]
 [ 9459.97]
 [ 9426.7 ]
 [ 9380.03]
 [ 9284.78]
 [ 9276.58]
 [ 9004.23]
 [ 9133.97]
 [ 9072.42]
 [ 9348.91]
 [ 9238.04]
 [ 9295.9 ]
 [ 9193.51]
 [ 9174.71]
 [ 9392.66]
 [ 9551.28]
 [11042.4 ]
 [11114.93]
 [11077.77]
 [11750.28]
 [11767.6 ]
 [11392.43]
 [11774.38]
 [12293.72]
 [11865.82]]

In [ ]:
#สร้างรูปแบบการถดถอยแบบเวกเตอร์สนับสนุนโดยใช้ฟังก์ชันพื้นฐานรัศมี (rbf) และฝึกแบบจําลอง
from sklearn.svm import SVR
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.00001)#Create the model
svr_rbf.fit(x_train, y_train) #Train the model

SVR(C=1000.0, cache_size=200, coef0=0.0, degree=3, epsilon=0.1, gamma=1e-05,
    kernel='rbf', max_iter=-1, shrinking=True, tol=0.001, verbose=False)

In [ ]:
#ทดสอบความถูกต้องของโมเดลบนชุดข้อมูลการทดสอบ
svr_rbf_confidence = svr_rbf.score(x_test, y_test)
print("svr_rbf accuracy: ", svr_rbf_confidence)

svr_rbf accuracy:  0.8568564606366953

In [ ]:
#พิมพ์โมเดลที่คาดการณ์ไว้สําหรับชุดข้อมูลการทดสอบและค่าที่แท้จริงของราคาของบิตคอยน์
svm_prediction = svr_rbf.predict(x_test)
print(svm_prediction)

print()

print(y_test)

[1.01803391e+04 6.15774459e+02 1.03339811e+01 2.56389712e+02
 2.64866250e+02 6.14839903e+02 6.26683895e+02 8.62319336e+03
 1.07939068e+01 3.32293765e+02 6.57593861e+00 6.83566874e+03
 9.29658179e+00 4.59025422e+03 8.16850663e+03 3.74416670e+02
 6.12541506e+02 6.33932011e+00 3.94035719e+02 6.10844893e+02
 6.36455525e+00 6.34230078e+00 1.13023607e+02 4.89674342e+02
 3.15226694e+02 6.43272182e+03 6.06807917e+02 6.93777910e+00
 5.54241199e+03 2.60942214e+02 2.63511457e+02 7.87821869e+03
 1.69188764e+02 8.69103688e+00 4.65610847e+03 7.23948279e+00
 2.78377892e+02 2.96684850e+02 6.98863138e+00 4.70476540e+02
 6.37646598e+00 8.10885200e+03 8.03705403e+03 9.42449210e+00
 4.57986609e+03 8.77786411e+03 4.03795743e+02 9.12629246e+03
 8.11881972e+03 2.54134163e+02 7.58682584e+03 1.14198870e+01
 1.82792923e+02 7.35027763e+00 1.31079922e+01 4.43250231e+02
 6.37024369e+00 6.34366047e+00 5.55915626e+03 2.56640889e+02
 8.29445700e+03 4.50886826e+02 3.06141638e+02 6.30244499e+02
 1.77875030e+03 2.71408376e+02 6.36075399e+00 6.77050947e+02
 1.32378873e+02 6.75676702e+03 8.12429192e+03 4.58682207e+02
 6.36505030e+00 8.72361051e+03 7.52456137e+03 6.06803314e+02
 9.08237576e+01 5.33788850e+02 6.33932011e+00 4.95857816e+02
 2.58824961e+02 1.14568531e+02 8.02800448e+03 9.51527435e+03
 8.03359241e+03 1.78191116e+03 6.74176353e+03 4.57966101e+03
 1.04809149e+01 7.58236867e+02 5.35525685e+03 8.02590627e+02
 6.75081523e+00 9.14360073e+03 2.61165566e+02 1.72122329e+02
 3.01323416e+02 8.55376639e+03 6.34390268e+00 1.59213184e+02
 8.74403917e+03 6.88244049e+00 7.12454151e+00 5.88802102e+03
 2.19298088e+03 7.04639875e+00 8.73487839e+03 1.69218037e+02
 6.36656196e+00 5.54276652e+03 5.31679013e+03 2.59036489e+02
 4.31631509e+02 6.26253136e+03 6.33932011e+00 7.62295769e+00
 6.33932011e+00 3.18674702e+02 6.65458580e+02 6.74892910e+00
 6.98392529e+00 6.77914735e+03 5.67052386e+03 9.28582607e+03
 1.31651467e+01 3.90913544e+02 6.51529272e+03 3.33611375e+03
 8.52350540e+03 8.33332880e+00 3.48082731e+02 2.57983953e+02
 6.65228860e+03 9.15691478e+00 9.78859388e+03 6.36656196e+00
 9.33150980e+02 1.20043592e+02 9.01566833e+03 1.67409365e+02
 6.68905907e+00 3.13049443e+02 5.74720767e+03 7.11938039e+00
 7.03416704e+00 2.48225445e+02 8.84191782e+00 7.35612656e+00
 1.39981172e+02 5.50851522e+03 7.73271195e+03 2.36214337e+02
 9.57913890e+03 1.02836925e+01 2.64243225e+02 6.34745636e+00
 2.63932858e+02 3.44175485e+02 6.30105899e+02 6.64998301e+03
 2.67973705e+02 4.37223618e+02 8.65477391e+03 4.75048572e+03
 7.00284930e+00 8.15532639e+00 9.06630098e+03 6.21735210e+02
 1.39915540e+02 7.73061495e+03 3.22874722e+02 6.34366047e+00
 9.50446614e+00 1.55141702e+02 7.11231124e+03 6.94687517e+00
 1.64443312e+01 6.21912536e+03 7.25978897e+03 3.14573171e+03
 8.48928077e+03 7.97421634e+00 6.38829523e+02 1.30336068e+02
 6.34745636e+00 2.59505205e+02 3.29882996e+02 2.26861390e+03
 8.59376481e+03 9.48438281e+00 7.15394319e+03 6.23422929e+02
 7.64617462e+03 7.04525243e+02 8.21154132e+03 6.36029873e+00
 6.31350886e+02 6.19954206e+02 2.54282276e+02 6.95144819e+00
 6.95102927e+03 7.16661598e+03 6.57593861e+00 1.45153501e+01
 3.89174904e+02 4.61419028e+03 8.62630479e+03 2.44738089e+01
 6.36656196e+00 8.67150243e+03 2.59628828e+02 3.71490618e+02
 6.56763688e+03 2.69334244e+02 9.87896684e+03 3.07965450e+02
 9.85500170e+00 3.87613285e+02 6.34251625e+00 5.57364693e+03
 3.66853956e+02 9.81287133e+00 2.85583737e+02 5.25043776e+03
 6.34465602e+00 9.31722653e+03 3.75368649e+02 7.97053984e+00
 8.15637957e+03 1.40633124e+01 6.37133533e+00 3.90040951e+03
 1.72482124e+02 6.20891249e+02 1.19188906e+01 7.34538479e+03
 9.56507481e+00 2.31687037e+02]

[9.919000e+03 3.243600e+02 1.421000e+02 2.404700e+02 2.685300e+02
 3.386300e+02 3.901800e+02 8.899660e+03 1.000000e+02 2.965600e+02
 4.990000e+00 6.738270e+03 1.797000e+01 3.777620e+03 8.225000e+03
 4.305800e+02 7.489800e+02 2.300000e-01 6.751000e+02 6.836900e+02
 1.539000e+01 9.000000e-01 1.241200e+02 5.855000e+02 4.070000e+02
 4.312260e+03 5.934800e+02 5.480000e+00 5.301290e+03 2.512100e+02
 4.479800e+02 7.296770e+03 1.136900e+03 1.190000e+01 3.881000e+03
 3.330000e+00 2.499800e+02 2.423400e+02 1.114000e+01 5.957600e+02
 8.470000e+00 8.432230e+03 1.003305e+04 2.739000e+01 4.164270e+03
 9.378090e+03 5.678800e+02 6.489770e+03 8.049720e+03 2.767400e+02
 7.243930e+03 1.128000e+01 1.177200e+02 1.224000e+01 5.490000e+00
 6.340000e+02 5.410000e+00 1.040000e+00 5.326670e+03 2.388100e+02
 9.167260e+03 5.885000e+02 2.192500e+02 6.086600e+02 1.518750e+03
 3.806200e+02 1.644000e+01 4.574900e+02 4.372400e+02 1.625231e+04
 8.283760e+03 4.163100e+02 1.999000e+01 1.036028e+04 6.312750e+03
 4.939700e+02 1.212000e+02 6.258000e+02 2.500000e-01 4.179600e+02
 2.690000e+02 1.038900e+02 9.769790e+03 9.589130e+03 8.457960e+03
 2.558300e+03 1.377661e+04 3.216430e+03 4.432000e+01 4.280100e+02
 3.444810e+03 4.520300e+02 4.740000e+00 9.775150e+03 4.324300e+02
 6.790200e+02 3.898800e+02 9.670430e+03 8.000000e-01 1.049500e+02
 8.754460e+03 6.560000e+00 1.114000e+01 4.032250e+03 2.256320e+03
 5.760000e+00 8.928550e+03 6.141100e+02 2.487000e+01 1.199641e+04
 3.621430e+03 2.659300e+02 6.679500e+02 3.646250e+03 3.000000e-01
 1.216000e+01 3.000000e-01 2.659900e+02 1.052840e+03 4.950000e+00
 9.370000e+00 7.365990e+03 3.407280e+03 1.111493e+04 1.425000e+02
 2.081300e+02 9.193510e+03 2.790000e+03 8.712350e+03 2.510000e+00
 4.225000e+02 2.335900e+02 3.885210e+03 1.369000e+01 3.910800e+03
 1.695000e+01 4.233700e+02 1.439400e+02 6.501190e+03 1.300900e+02
 1.142000e+01 2.621000e+02 3.881090e+03 5.100000e+00 6.270000e+00
 2.275000e+02 1.275000e+01 4.960000e+00 1.226500e+02 4.491980e+03
 1.021452e+04 8.112000e+02 6.504780e+03 7.193000e+01 2.364400e+02
 1.380000e+00 2.352200e+02 2.335100e+02 6.277200e+02 9.276580e+03
 2.391400e+02 6.569700e+02 7.765330e+03 4.394070e+03 4.470000e+00
 1.156000e+01 6.097460e+03 3.858900e+02 7.320000e+02 1.738294e+04
 3.791400e+02 8.800000e-01 1.375000e+01 1.065600e+02 7.250690e+03
 5.450000e+00 1.133500e+02 6.408530e+03 8.719880e+03 2.862900e+03
 8.026760e+03 1.140000e+01 9.150500e+02 3.930000e+02 1.710000e+00
 4.282300e+02 2.223600e+02 2.279820e+03 9.162140e+03 1.553000e+01
 6.170460e+03 6.614800e+02 7.351570e+03 6.070400e+02 9.309150e+03
 1.574000e+01 6.038500e+02 7.779900e+02 3.105500e+02 5.150000e+00
 8.852730e+03 6.138960e+03 5.990000e+00 1.445400e+02 4.558200e+02
 4.585570e+03 1.139243e+04 1.335000e+02 1.919000e+01 9.569210e+03
 4.327600e+02 4.499800e+02 3.793350e+03 3.408100e+02 1.198476e+04
 4.199800e+02 3.336000e+01 2.341800e+02 9.700000e-01 3.556540e+03
 4.590200e+02 1.357000e+01 2.539000e+02 3.456020e+03 7.600000e-01
 1.379119e+04 2.759700e+02 3.000000e+00 1.073773e+04 8.560000e+00
 1.452000e+01 4.179970e+03 8.790000e+01 9.996500e+02 1.275000e+02
 8.021490e+03 1.431000e+01 7.800200e+02]

In [ ]:
#พิมพ์แบบจําลองของการคาดการณ์ราคา Bitcoin สําหรับถัดไป 30 วัน.
svm_prediction = svr_rbf.predict(prediction_days_array)
print(svm_prediction)

[9444.7032455  8335.5321031  8496.7563405  8288.3535776  8295.00232964
 8498.02313967 8485.7604614  8523.23643289 8565.04437715 8648.8626712
 8658.75457606 9344.93883469 8966.19289783 9155.99539572 8589.37359189
 8715.80400279 8636.51292251 8806.35446433 8852.55728828 8554.68788552
 8358.76157367 8038.59032364 8086.61408988 8053.613495   8648.93663826
 8629.14494343 8669.54577719 8621.35416468 7784.79380812 8511.17036292]

In [ ]:
#พิมพ์ราคาที่แท้จริงของบิตคอยน์สําหรับ 30 วันถัดไป
df.tail(prediction_days)

      market-price  Prediction
1189       8899.66         NaN
1190       9569.21         NaN
1191       9450.84         NaN
1192       9658.04         NaN
1193       9670.43         NaN
1194       9775.15         NaN
1195       9459.97         NaN
1196       9426.70         NaN
1197       9380.03         NaN
1198       9284.78         NaN
1199       9276.58         NaN
1200       9004.23         NaN
1201       9133.97         NaN
1202       9072.42         NaN
1203       9348.91         NaN
1204       9238.04         NaN
1205       9295.90         NaN
1206       9193.51         NaN
1207       9174.71         NaN
1208       9392.66         NaN
1209       9551.28         NaN
1210      11042.40         NaN
1211      11114.93         NaN
1212      11077.77         NaN
1213      11750.28         NaN
1214      11767.60         NaN
1215      11392.43         NaN
1216      11774.38         NaN
1217      12293.72         NaN
1218      11865.82         NaN

# ***เสร็จแล้วว🎉🎉✨✨***

---